<div class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="employees">
                    <p class="counter-count">879</p>
                    <h6 class="employee-p mt-2">Particulier</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="customer">
                    <p class="counter-count"><i class="fa fa-analytics"></i>954</p>
                    <h6 class="employee-p mt-2">Profisionels</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="design">
                    <p class="fa fa-percentage counter-count">1050</p>
                    <h6 class="employee-p mt-2">Entreprises</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="order">
                    <div class="fa fa-search  counter-count">
                        <p> 77</p>
                    </div>
                    <!-- <p class="counter-count"><span class="fa fa-search "></span> 652</p> -->
                    <h6 class="employee-p mt-2">Satisfaction Client</h6>
                </div>
            </div>
        </div>
    </div>
</div>