<div class="container cc mb-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <!-- <ol class="carousel-indicators owl">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol> -->

        <div class="carousel-inner m-5">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-3">
                        <a class="thumbnail" href="#"><img src="../../../assets/images/partenariat/logo2Erreda.png" alt="..." width="40%"></a>
                    </div>
                    <div class="col-md-3">
                        <a class="thumbnail" href="#"><img src="../../../assets/images/partenariat/Akhdar.png" alt="..." width="40%"></a>
                    </div>
                    <div class="col-md-3">
                        <a class="thumbnail" href="#"><img src="../../../assets/images/partenariat/logo-YouserPng.png" alt="..." width="40%"></a>
                    </div>
                    <div class="col-md-3">
                        <a class="thumbnail" href="#"><img src="../../../assets/images/partenariat/darElaman.png" alt="..." width="40%"></a>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3">
                        <a class="thumbnail" href="#"><img src="../../../assets/images/partenariat/bti bank.png" alt="..." width="40%"></a>
                    </div>
                    <div class="col-md-3">
                        <a class="thumbnail" href="#"><img src="../../../assets/images/partenariat/logo-assafa-layout.png" alt="..." width="40%"></a>
                    </div>
                    <div class="col-md-3">
                        <a class="thumbnail" href="#"><img src="../../../assets/images/partenariat/logo-YouserPng.png" alt="..." width="40%"></a>
                    </div>
                    <div class="col-md-3">
                        <a class="thumbnail" href="#"><img src="../../../assets/images/partenariat/darElaman.png" alt="..." width="40%"></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="home_slider_nav home_slider_prev mb-4" href="#carouselExampleIndicators" role="button" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
        <div class="home_slider_nav home_slider_next" href="#carouselExampleIndicators" role="button" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
        <!-- <div class="row">
            <div class="mt-5">
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div> -->
    </div>
</div>