.cc {
    background-color: transparent;
}

.home_slider_nav {
    position: absolute;
    top: 44%;
    width: 40px;
    height: 40px;
    background: #b6b7bd;
    border-radius: 50%;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: green;
}

.home_slider_prev {
    left: -100px;
}

.home_slider_next {
    right: -60px;
}

.home_slider_nav i {
    line-height: 40px;
    color: #FFFFFF;
    font-size: 20px;
}

.home_slider_nav:hover {
    background: #007b3b;
}