<!-- Feature -->

<div class="feature">
    <div class="feature_background" style="background-image:url(images/courses_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Apropos Darattamwil</h2>
                    <div class="section_subtitle">
                        <p>«Dar Attamwil»est unenouvelle start up Marocainespécialiséeenfinancementparticipatif, qui offre le courtage, le conseil et l'accompagnement aux particuliers, professionnels et entreprises, pour leur apporter appui et soutient dans
                            l’ensemble des produits et services de BanquesTakafulsen ligne. En effet, Nous offrons à nos clients un pack complet dans leurs projets de financement immobiliers, véhicules, ou équipements, conforme au principe de la Charia,
                            et un Benchmark des offres bancaires en collaboration avec nos partenaires;(Banques participatives, Assurances Takaful, Notaires, Oudouls etc.).Vous bénéficiez d'un conseillerdédié,qui gère votre projetdu plan de financement
                            jusqu’à l’enregistrement.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row feature_row">

            <!-- Feature Content -->
            <div class="col-lg-6 feature_col">
                <div class="feature_content">
                    <!-- Accordions -->
                    <div class="accordions">

                        <div class="elements_accordions">
                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center active">
                                    <div>L'intermédiationen opération bancaire</div>
                                </div>
                                <div class="accordion_panel">
                                    <p>Graceà notre partenariat avec les banquesparticipatives, nous pouvons également négocier les offres et conditions bancaires, avant de vous soumettre des solutions.</p>
                                </div>
                            </div>
                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center">
                                    <div>Le placement financier</div>
                                </div>
                                <div class="accordion_panel">
                                    <p>Nous vous guidons au travers de toutes les offres du marché, et sélectionnons pour vousles instruments conformesà la charia (Acquisitions,Dépôts d'investissements, Sukuk...). Avant toute recommandation, nous nous assuronsdel'adéquationproposéeavec
                                        vos besoins.</p>
                                </div>
                            </div>
                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center">
                                    <div>Le conseil et l'orientation</div>
                                </div>
                                <div class="accordion_panel">
                                    <p>«Dar Attamwil» peut orienter ses clients vers les soutions les plus appropriées. Un suivi régulier avec votre conseiller financier dans toute la durée de l'étude, ficilitant le contrôle de l'évolution de votre financement.</p>
                                </div>
                            </div>

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center">
                                    <div>Gain d'argents</div>
                                </div>
                                <div class="accordion_panel">
                                    <p>Le premier objectif clair de «Dar Attamwil» est de faire gagner de l’argent à nos clients.</p>
                                </div>
                            </div>
                            <!-- 
                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center">
                                    <div>Gain de temps et Rapidité</div>
                                </div>
                                <div class="accordion_panel">
                                    <p>Une fois on fait appel à «Dar Attamwil» pour un accompagnement au financement.</p>
                                </div>
                            </div>

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center">
                                    <div>L'expertise &l'efficacité.</div>
                                </div>
                                <div class="accordion_panel">
                                    <p>Vous pouvez compter sur le conseil et l’accompagnement d’un spécialiste le plus proche de vos besoins</p>
                                </div>
                            </div> -->

                        </div>

                    </div>
                    <!-- Accordions End -->
                </div>
            </div>

            <!-- Feature Video -->
            <div class="col-lg-6 feature_col">
                <div class="feature_video d-flex flex-column align-items-center justify-content-center">
                    <div class="feature_video_background" style="background-image:url(../../../assets/images/video.jpg)"></div>
                    <a class="vimeo feature_video_button" href="https://player.vimeo.com/video/99340873?title=0" title="OH, PORTUGAL - IN 4K - Basti Hansen - Stock Footage">
                        <img src="../../../assets/images/ply.png" alt="">
                    </a>
                    <!-- <img src="../../../assets/images/video.jpg" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</div>